---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">
      <a href="{{site.baseurl}}/categories/{{category_name}}">
      {{ category_name }}
      </a>
    </h3>
    <a name="{{ category_name | slugize }}"></a>

    
  </div>
{% endfor %}
</div>